@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600&display=swap');


body {

    background-color: #265969;
    margin: 0;
    font-family: 'Belanosima', sans-serif;

}

.header {

    color: white;
    text-align: center;

}

.header h1 {

    font-weight: 600;
    font-size: 50px;
}

.header p {

    font-weight: 400;
    font-size: 25px;
}

#title {
    margin-left: 30px;
    color: white;
    font-weight: 400;
    font-size: 20px;
    margin-top: 100px;
}

.flex {
    display: flex;
    width: 65vw;
    justify-content: space-between;
    margin: 20px auto;
}

.flex2 {
    display: flex;
    width: 65vw;
    justify-content: center;
    margin: 50PX auto;
}

.flex p {
    color: white;
    font-size: 17px;
}
input[type="text"] {
    
    width: 20vw;
    height: 30px;
    border: 0;
    border-radius: 10px;
    padding-left: 10px;
}


input[type="button"] {

    width: 100px;
    height: 30px;
    border: 0px; 
    border-radius: 10px;
    cursor: pointer;
    
}

input[type="button"]:hover {
     
    border: 2px solid;
}

input[type="button"]:active {

    background-color: rgb(187, 187, 187);
}

li {
    color: white;
    margin-top: 15px;
}

ul {
    margin-top: 50px;
    
}



ol p {

    color: white;
    text-align: center;
}